/** HEADER **/
#header-nav {
	background-color: #b7ffa9;
	border-radius: 0;
	border-width: 0;
	width: 
}

#navbarText {
	background-color: #d3feca;
}

.nav-element {
	border: 0.25px solid #b7ffa9;
	text-align: center;
}
/** HEADER END **/

/**S MAIN BODY **/
h2 {
	text-align: center;
	margin: 20px 0 25px;
}

h3 {
	text-align: center;
}

#section1, #section2, #section3 {
	background-color: #f6ffa9;
	border-width: 1px solid #284703;
	margin: 0 5px 15px 5px;
	overflow: hidden;
	padding: 10px;
}
/** MAIN BODY END **/